# add files or project environment settings that we don't need.
*.class
/spark-chat-test/spark-chat-test/target/
spark-chat-test/spark-chat-test/jdk1.8.0_92/
/javafx_webview_swing_test/nbproject/private/
/javafx_webview_swing_test/build/
/Spark_Webview_Prototype/target/